<div>
  <p>
    <a class="vc-learn-more__link" target="_blank" rel="noopener" href="https://docs.vividcortex.com/general-reference/metric-categories/">Learn more</a>
    about VividCortex metric categories and how to use them.
  </p>
</div>

<query-editor-row query-ctrl="ctrl" can-collapse="false">
  <div class="gf-form-group">
    <div class="gf-form-inline">
      <div class="gf-form">
        <div class="vc-query-editor__loader-container">
          <div class="vc-query-editor__loader" ng-show="ctrl.loading">
            Loading...
          </div>
        </div>

        <gf-form-dropdown model="ctrl.target.target"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getOptions($query)"
          on-change="ctrl.onChangeInternal()">
        </gf-form-dropdown>

        <div class="vc-host-filter__container">
          <input class="gf-form-input width-30" type="text" ng-model="ctrl.target.hosts" placeholder="Filter your hosts by name or type"/>

          <info-popover mode="right-absolute">
              <ul>
                <li>By default, if you type <em>api</em>, any host whose name includes the substring api will become part of the set of active hosts. </li>
                <li>You can match hostnames exactly by wrapping them with the double quotes sign. The string <em>"api2"</em>, for example, will match a host named <em>api2</em> but not one named <em>api20</em>.</li>
                <li>You can exclude hosts from the selection by negating them with a minus sign. For example, <em>-"api20"</em>.</li>
                <li>You can select hosts by their type (os, mysql, pgsql, redis and mongo at present), with syntax such as <em>type=os</em> or <em>type=mysql</em>.</li>
              </ul>
          </info-popover>
        </div>

        <gf-form-switch class="gf-form" label="Separate results by host" label-class="width-12" checked="ctrl.target.separateHosts" on-change="ctrl.onChangeInternal()">
          <div class="gf-form-switch" ng-if="ctrl.target.separateHosts">
            <input id="vc-separate-hosts" type="checkbox" ng-model="ctrl.target.separateHosts">
            <label for="vc-separate-hosts" data-on="1" data-off="0"></label>
          </div>
        </gf-form-switch>
      </div>
      <div class="gf-form gf-form--grow">
        <div class="gf-form-label gf-form-label--grow"></div>
      </div>
    </div>
  </div>
</query-editor-row>
